.container {
    background-color: white;
    width: 50%;

    margin: 60px auto;

    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

button {
    padding: 12px 25px;
    background-color: #6c5ce7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #4834d4;
}

#bookList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
    list-style:none ;
}


#bookList li:hover {
    background-color: #f8f9fa;
    color: #6c5ce7;
}


.empty-message {
    color: #aaa !important;
    font-style: italic;
    text-align: center;
}